extends ./layout/index
block slider
    .slider
        h1 Rio de janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.
                p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg" alt="img_nosotros" class="img-fluid")

        .row.proximos-viajes
            //p=JSON.stringify(viajes)
            each viaje in viajes
                .col-md-6.col-lg-4.mb-4
                    .card
                        img.card-img-top(src=`img/destinos_${viaje.imagen}.jpg`)
                        .card-body
                            h2= viaje.titulo
                            p
                                svg.icon.icon-tabler.icon-tabler-calendar-event(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                                    path(d='M16 3l0 4')
                                    path(d='M8 3l0 4')
                                    path(d='M4 11l16 0')
                                    path(d='M8 15h2v2h-2z')

                                |#{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                            p
                                svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                    path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                    path(d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                                    path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                                    path(d='M16 3.13a4 4 0 0 1 0 7.75')
                                    path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')
                                |#{viaje.disponibles} - Disponibles.

                            p= viaje.descripcion.substr(0, 100)+'...'
                            a(href=`/viajes/${viaje.slug}`, class="btn btn-success btn-block") Mas Informacion
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento 
                        p.titulo Viaje a canada
                        p.fecha 14 de mayo del 2023 - 30 de mayo del 2023
                        p.precio $2500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        blockquote.text-center Lee sobre nuestros clientes y sus experiencias.
        .row.testimoniales
            each testimonial in testimoniales
                .col-md-6.col-lg-4.mb-4
                    .card
                        .card-body
                            blockquote.blockquote
                            p.mb-0
                                |#{testimonial.mensaje}
                            footer.blockquote-footer
                                |#{testimonial.nombre}